
.icon-bullhorn:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-tablet:before { content: '\e803'; } /* '' */
.icon-mobile-1:before { content: '\e804'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */