*
{
	margin: 0;
	padding: 0;
}
/*#FFF03E; */
a
{
	text-decoration: none;
	cursor: pointer;
}

p.signup-text{text-align: center; font-family: 'Courgette', cursive; font-size: 45px; color: #4a4b4c; border-bottom: 3px solid #4a4b4c; width: 74%; margin: 40px auto 50px auto;}

li > a
{
	color: #fff !important;
}

body
{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	background-image: url('../img/subtle_grunge.png');
	/* taken from https://www.toptal.com/designers/subtlepatterns/ */
	padding: 0;
	line-height: 1.5;
}

.wrapper
{
	padding: 0;
}

.row
{
	margin: 0;
}



#logo
{
	font-family: 'Courgette', cursive;
	background-color: #656e7a;
	border-radius: 80px;
	opacity: 0.9;
	font-size: 80px;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	width: 500px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%,-50%);
}

@media(max-width: 1415px)
{
	#logo{font-size:60px; width: 350px;}
}

.nav > li:hover
{
	background-color: #f4e538;
	border-radius: 10px;
	transition-duration: 1.5s;
}

.nav > li
{
	transition-duration: 1.5s;
	border-radius: 2px;
	display: block;
	position: relative;
}

.nav-top
{
	background: url('../img/food_bg.jpg') no-repeat top fixed;
	background-size: cover;
	opacity: 0.85;
	width: 100%;
	height: 90vh;
}

.nav-inside
{
	margin-top: auto;
	margin-bottom: auto;
	padding: 25px;
	background-color: #656e7a;
	border-radius: 50px;
	border-color: #656e7a;
}

.navbar
{
	max-width: 70vw;
	margin-left: auto;
	margin-right: auto;
	min-height: 80px;
	margin-top: -60px;
	border-radius: 50px;
	border-color: #656e7a;
	opacity: 0.98;
	font-family: 'gafata', sans-serif;
}

.navbar-nav
{
	margin-right: 0;
	margin-left: 0;
}

.logpanel{
	display: none;
	position: absolute;
	top:93%;
	left: 63%;
	width: 260px;
	color:#fff;
	background-color: #fff;
	z-index:100;
	padding: 25px;
	/*background-color: #6D7886;*/
	background-color: #5C6775;
	border-radius: 35px;
	border-color: #5C6765;
	opacity: 0.90;
}


.login-button
{
	background-color: transparent;
	color: #fff;
	border: 1px #fff solid;
	border-radius: 10px;
	margin-top: 15px;
	margin-left: 5px;
	padding: 5px;
	transition-duration: 0.5s;
}

.login-button:hover
{
	background-color: #f4e538;
	transition-duration: 0.5s;
}

.logpanel  > form > div > input
{
	color: #2B2B2B;
}

.form-err-succ
{ 
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	width: 22vw;
}

.login-error{color: #FF5733; }

.white{color: #ffffff !important;}

.navbar-collapse{border-color: #ffffff;}

.signup-img
{
	background: url('../img/signup-img.jpg') no-repeat fixed;
	background-size: cover;
	background-position: left 200px top 0;
	opacity: 0.85;
	height: 100vh;
}

/*------------------------------MAIN------------------------------------*/


section
{
	min-height: 40vh;
}

.food1
{
	background: url('../img/delicious-food.jpg') no-repeat top fixed;
}

.food2
{
	background: url('../img/laptop-background.jpeg') no-repeat top fixed;
}

.food-img
{
	background-size: cover;
	width: 100%;
	font-family: 'Varela', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 70px;
	margin: 0 auto;
}

.food-img > .row > div
{
	position: relative;
	margin-top: 70px; 
}

.food-img p
{
	font-size: 20px;
	text-transform: uppercase;
}

.food-img p:nth-child(3)
{
	font-size: 16px;
	text-transform: none;

}

p.shift
{
	transition-duration: 1.5s;
	font-style: italic;
}

p.shift:hover
{
	transition-duration: 1.5s;
	margin-left: 30px;

}

article
{
	padding: 25px;
	margin-bottom: 30px;
	margin-top: 40px;
	display: inline-block;
}

@media(min-width: 1400px){
	.logpanel{left: 74%;}
}

@media(min-width: 1100px){
	form.form-sign-up{max-width:30vw;}
}

@media(min-width: 992px){
	article:first-child{border-right: 1px solid; border-color: #484646; border-image: linear-gradient(#fff, #aeaeaf, #fff) 40;}
	.text-column{box-sizing: border-box;padding-left:7vw;padding-right: 7vw}
	.food-img > .row > div{padding-bottom: 30px;}
}

@media(max-width: 1400px){
	.logpanel{left: 70%;}
}

@media(max-width: 1049px){
	.navbar{max-width: 82vw;}
	form.form-sign-up{max-width:45vw;}
}

@media(max-width: 991px)
{
	.text-column{max-width: 70vw;margin-left: auto;margin-right: auto;}
	.form-feedback{max-width: 60vw;margin-left: auto;margin-right: auto;}
	article:first-child::after{border-bottom: 1px solid; border-color: #484646;border-image: linear-gradient(to right, #fff, #aeaeaf, #fff) 40; display: block;width: 80vw;content: "";margin-top: 70px; margin-left:auto;margin-right:auto;}
	.food-img > .row > div:last-child{margin-bottom: 80px;}
	.form-err-succ{width:50vw;}
	.logpanel{left: 65%;}
}
@media(max-width: 767px){
	.logpanel{left: 30%; top:128%;}
}
@media(max-width: 767px){
	.signup-img{display: none;}
}


.form-sign-up{margin-top:30px;}
.g-recaptcha{margin-bottom: 20px;}

.r{color:#bb2917;}



.logpan{display: none;}

.active
{display: block !important;}

/*-------------------------------FOOTER---------------------------------*/

footer
{
	width: 100%;
	min-height: 70px;
	background-color: #656e7a;
}


.img-center
{
	margin-right: auto;
	margin-left: auto;
	margin-top: 4vh;
	margin-bottom: 4vh;
	display: block;
	vertical-align: center;
}

.infinity-name
{
	font-family: 'Gafata', sans-serif;
	font-size: 25px;
	color: #fff;
	text-align: center;
	min-height: 8vh;
	padding-top: 50px;
	padding-bottom: 40px;
}


